
.container{
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}

.image {
    float: left;
    color: rgb(60, 60, 60);
    text-decoration: none;
    font-size: 17px;
}

.text{
    float: left;
    color: rgb(60, 60, 60);
    text-decoration: none;
    font-size: 17px;
}

.responsiveImage{
  width: 100%;
  height: auto;
}