.merriweather{
  font-family: 'Merriweather'
}

.helvetica{
  font-family: 'Helvetica'
}

.title{
  text-align: center;
  font-size: clamp(20px, 2.7vw, 2.7vw);
  font-family: 'Merriweather';
  padding-top: 1%;
  padding-bottom: 1%;
}

.title a{
  text-decoration: none;
  color: black;
}

.subtitle{
  text-align: center;
  font-size: 1.7vw;
  font-family: 'Merriweather';
}

.navbar{
  width: 100%;
  overflow: auto;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.navbar a {
  float: left;
  padding: 1%;
  color: rgb(60, 60, 60);
  text-decoration: none;
  font-size: clamp(13px, 1vw, 1vw);
  width: 16.6%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

.navbar a:hover{
  color: black;
}