html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, serif, sans-serif;
}

* {
  box-sizing: border-box;
}

hr {
  width: 100%;
}

@font-face {
  font-family: "Merriweather";
  src: url("../public/assets/fonts/Merriweather-Regular.ttf");
  font-family: "Garramond";
  src: url("../public/assets/fonts/CormorantGaramond-Regular.ttf");
  font-family: "OpenSans";
  src: url("../public/assets/fonts/OpenSans-Regular.ttf")
}

@tailwind base;
@tailwind components;
@tailwind utilities;
