html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, serif, sans-serif;
}

* {
  box-sizing: border-box;
}

*
main {
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 60ch;
}
*

hr {
  width: 100%;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
